<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= page.title %></title>
    <link rel="stylesheet" href="<%= url_for('/css/style.css') %>" />
    <link
    rel="icon"
    type="image/x-icon"
    href="<%= url_for('/favicon.ico') %>"
  />
  </head>
  <body>
    <div >
      <%- partial('_partial/header') %>

      <article class="post-detail">
        <!-- 渲染 markdown 转换后的 HTML 内容 -->
        <%- page.content %>
      </article>

      <%- partial('_partial/footer') %>
    </div>
    <script src="<%= url_for('/js/script.js') %>"></script>
    
  </body>
</html>
